* {
    color: #3e4444;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    height: auto;
    display: flex;
    justify-content: space-between;
    background: #82b74b;
    padding: 10px;
    
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: max-content;
    flex-wrap: nowrap;
}

h1 {
display: flex;
flex-flow: column;
justify-content: end;
}
.avatar {
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: 5px 5px 5px #3e4444;
    
    
}

a {
    color:#3e4444;
    text-decoration: none;
    gap: 1rem;
    padding: 10px 15px;
    display: flex;
flex-flow: column;
justify-content: end;
}

main {
padding: 20px;
background-color: #c1946a;
}

h2 {
    padding-bottom: 20px;
}

p {
    padding-bottom: 20px;
}

@media screen and (max-width: 700px) {
    header {
        flex-wrap: wrap;
        flex-flow: column;
        align-items: center;
    }
    h1 {
        padding-top: 10px;
    }
}
