header {
    display: flex;
    border-width: 5px;
    border-bottom: solid red 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: solid blue;
}
.headerImg {
    display: flex;
   
}
h1 {
display: flex;
flex-flow: column;
justify-content: end;
}
.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: 5px 5px 5px gray;
}


nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 1rem;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
flex-wrap: nowrap;
}

.nav-links {
   
}